.testcsss{
	width : 100%;
}


.diamond {
	position: relative;
	float: right;
}

.news {
	width: 49.5%;
	position: relative;
	float: left;
	border-radius: 20%;
}

.news2 {
	width: 49.5%;
	position: relative;
	float: right;
}

.news2p {
	text-decoration-line: none;
	color: black;
}

.news3p {
	text-decoration-line: none;
	color: black;
}

.news4p {
	text-decoration-line: none;
	color: black;
}

.news img {
	height: 100%;
	width: 100%;
}

.newshead {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	height: 430px;
}

