
.info {
	    position: relative;
    float: left;
    width: 77.5%;
    margin-left: 20px;
    height : 830px;
    top: 10px;
    border: 0px solid black;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.title1 {
	font-size: 25px;
}

.minititle1 {
	font-size: 12px;
}

.doubleoimg {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 640px;
	list-style: none;
	width: auto;
	height: auto;
	max-width: 350px;
	max-height: 310px;
	top : 85px;
	border : 0px solid black;
}

.sinsun {
	background-color: white;
	height: 300px;
	margin-top: 20px;
}

.sinsun1 {
	font-size: 30px;
	position: relative;
	top: 30px;
	left: 300px;
}

.sinsun2 {
	position: relative;
	left: 310px;
	font-size: 13px;
}

.sinsun3 {
	font-size: 65px;
	position: relative;
	left: 300px;
	top: -5px;
}


.story {
	border: 0px solid black;
	height: 100px;
}

.red_bar {
	width: 100%;
	height: 20px;
	position: relative;
	background-color: rgb(245, 47, 47);
}

.story1 {
	position: absolute;
	top: 0;
	left: 50px;
	background-color: white;
	padding: 1px 5px;
	font-weight: bold;
}

.actor {
	height: 200px;
}

.actor1 {
	position: absolute;
	top: 0;
	left: 50px;
	background-color: white;
	padding: 1px 5px;
	font-weight: bold;
}

.actor img {
	margin: 00px;
	padding: 20px 100px;
}

.imgbond {
	display: flex;
	position: relative;
	left: -60px;
	width: 500px;
}

.leftimg{
	position: relative;
	left: -60px;
	top: 35px;
}

.bondtext1 {
	font-size: 13px;
	color: gray;
}

.bondtext2 {
	font-size: 14px;
}

.imgsafin {
	display: flex;
	position: relative;
	left: 350px;
	top: -182px;
	width: 500px;
}

.imglynch {
	display: flex;
	position: relative;
	left: -60px;
	width: 500px;
	top: -200px;
}

.imglea {
	display: flex;
	position: relative;
	left: 350px;
	top: -378px;
	width: 500px;
}

.ben {
	display: flex;
	position: relative;
	left: -60px;
	width: 500px;
	top: -400px;
}

.ralph {
	display: flex;
	position: relative;
	left: 350px;
	top: -578px;
	width: 500px;
}

.naomie {
	display: flex;
	position: relative;
	left: -60px;
	width: 500px;
	top: -600px;
}

.ana {
	display: flex;
	position: relative;
	left: 350px;
	top: -778px;
	width: 500px;
}

.producer {
	border: 0px solid black;
	height: 300px;
	position: relative;
	top: 500px
}

.producer1 {
	position: absolute;
	top: 0;
	left: 50px;
	background-color: white;
	padding: 1px 5px;
	font-weight: bold;
}

.director {
	border: 0px solid black;
	height: 300px;
	position: relative;
	top: 330px
}

.director1 {
	position: absolute;
	top: 0;
	left: 50px;
	background-color: white;
	padding: 1px 5px;
	font-weight: bold;
}

.director2 {
	font-size: 25px;
	position: relative;
	top: 20px;
}

.sinsuntext {
	font-size: 20px;
	position: relative;
	left: 320px;
}


.screenplay {
	width: 100px;
	display: flex;
}

.neal {
	display: flex;
	position: relative;
	left: 130px;
	top: -35px;
	border: 0px solid black;
	height: 30px;
}

.comment {
	border: 0px solid black;
	height: 300px;
	position: relative;
	top: 630px
}

.comment1 {
	position: absolute;
	top: 0;
	left: 50px;
	background-color: white;
	padding: 1px 5px;
	font-weight: bold;
}


.grape {
	padding: 0;
	margin: 0;
	list-style: none;
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	position: absolute;
	top: 550px;
	left: 250px;
}

.popcon {
	position: absolute;
	left: 460px;
	max-width: 100px;
	max-height: 100px;
	position: absolute;
	top: 550px;
}


