@charset "EUC-KR";

 .logincolumn {
 	position : relative;
    width: 250px;
    top : 10px;
    
    background-color: #f1f1f1;

 }


 .adv {
    position: relative;
    border: solid 1px;
    top: 20px;
    width: 255px;
    float: right;
 }

 .login {
    background-color: white;
    height: 180px;
    border : 0px solid black;
    position : relative;
    top : 20px;
    z-index: 0;
 }
 
   .login1 {
    position: relative;
    top: -3px;
    z-index: 3;
    border : 0px solid red;
    color : black;
    background-color: white;
    height: 25px;
    width : 250px;
    font-weight: 600;
    font-size : 20px;
 }

 .login2 {
    margin-left: 20px;
 }
 
  .makeid {
    position: ab;

    width: 220px;
    margin: auto;
    border-radius: 3%;
    padding: 20px;

 }
 
 
 
  .makeid2 {
    width: 200px;
    position: relative;
    top: 2px;
    left: -10px;
 }
 
 .makelog {
 	position : relative;
 	top :-30px;
 	background-color: white;
	color : black;	
	
 }
 
 .makelog44 {
 	position : relative;
 	top : 10px;
 	width: 200px;
 	left : -10px;
 	background-color: white;
	color : black;	
 }
 
 .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
 }
 
 .ranking{
 	position : relative;
 	top : 20px;
 	background-color: white;
 	float: left;
 	border : 0px solid black;
 	width : 250px;
 	padding: 20px;
    margin-top: 20px;
 }
 
 .ranking1 {
    text-decoration-line: none;
    color: black;
    font-size: 15px;
    
 }
 
 .diamond {
	position: relative;
	float: right;
}
 
 
 
 .plmovie {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 280px;
    position : relative;
    float: left;
	width : 250px;
	top : 20px;
 }
 
 #logbutton{
	position : relative;
 	background-color: white;
	color : black;	
 	font-size: 15px;
 	border-radius: 4px;
 	width: 115px;
 }
 
.알림{
	left : -30px;
}

.내글현황{
	left : 95px;
	top : -24px;
}
 
 .쪽지{
	left : -30px;
	top : -20px;
	position : relative;
 	background-color: white;
	color : black;	
 	font-size: 15px;
 	border-radius: 4px;
 	width: 115px;
}
 
 .스크랩{
	left : 95px;
	top : -44px;
}
 
 .정보수정{
	left : -30px;
	top : -40px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 